@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: Cabin;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}